
/* Split the screen in half */

html { 
    font-family: Helvetica; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center;
}

body{
    margin-top: 50px;
}


h4{
    color: #444444;
    margin: 50px auto 30px;
}

ol {
   font-size: 16px;
   color: #444444;
   margin-bottom: 10px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 500px;
}

.image {
    margin-left: 100px;
    margin-bottom: 70px;
    padding: 14px 40px;
    height: 300px;
    width: 400px;
}

.advice {
    color: #ffffff;
    background-color: #f9c230;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    transition: .15s ease-in-out;
    margin-bottom: 10px;
    margin-left: 250px;
    padding: 14px 40px;
}
.advice:hover {
    background-color: #0069d9;
}

.advice:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
